 body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
  justify-content: space-between;
}

.logo {
  color: #636363;
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0px;
}

.links {
  display: flex;
}

.nav-links {
  display: flex;
  width: 40%;
}

.nav-links li{
  list-style: none;
  margin-left: 35px;
}

.nav-links a{
  color: #636363;
  text-decoration: none;
  font-size: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: #636363;
  margin: 5px;
}

@media screen and (max-width:600px){
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #9dcad8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
  }

}

.nav-active {
  transform: translateX(0%);
}

*, body, html,{
  box-sizing; border-box;
}

@media (min-width: 768px){
  .container {
    max-width: 600px;
  }
}

@media (min-width: 1000px){
  .container {
    max-width: 900px;
  }
}

.container {
  margin: auto;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
  margin-bottom: 50px;
}

.container2 {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.picture {
  border-radius: 120px;
  display: table-cell;
}

.info {
  display: inline-block;
  color: #636363;
  margin-left: 5%;
}

.bottom {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.mail {
  margin-top: 20px;
}

.right a {
  margin-right: 10px;
}

a {
  transition: .1s ease;
}

a:link {
  text-decoration: none;
  color: #636363;
}

a:visited {
  text-decoration: none;
  color: #636363;
}

a:hover {
  text-decoration: none;
  color: #9DCAD8;
}

.list li {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 20px;
}
