.container h2 {
  color: #99BEF5;
  font-weight: 400;
}

.box {
  height: 600px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}

.box .container {
  display: flex;
  align-items: center;
}

.box .container .mockup img {
  width: 500px;
  /* background: red; */
}

.chart .content img {
  margin-left: auto;
  margin-right: auto;
}

.quote {
  margin-bottom: 30px;
}

.quote img {
  margin-top: 10px;
  margin-bottom: 10px;
}
