@media (min-width: 768px){
  .top {
    max-width: 800px;
  }
}

@media (min-width: 1000px){
  .top {
    max-width: 1100px;
  }
}

table {
  border-collapse: collapse;
}

td {
  padding-top: 0;
  line-height: 3vh;
  padding-right: 30px;
}

table h2 {
  font-weight: 400;
  font-size: 2vh;
  margin-top: 3px;
  margin-bottom: 0px;
}

table p {
  margin-top: 5px;
}

.container h2 {
  color: #99BEF5;
  font-weight: 400;
  margin-bottom: 0px;
}

.box {
  height: 600px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}

.box .container {
  display: flex;
  align-items: center;
  margin: auto;
}

.box .container .column_main img {
  width: 500px;
}

.container h2 {
  margin-bottom: 15px;
}

.diagram {
  margin-top: 80px;
  margin-bottom: 60px;
}

.diagram img {
  margin-top: 80px;
  margin-bottom: 80px;
}

.chart img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.quote {
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: 'Lato', sans-serif;
}

.quote img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table2 .container .info2 {
  margin-left: 75px;
  line-height: 30px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}

.table2 .info2 {
  float: right;
  display: block;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.container .info2 p{
  margin: 5px;
}

span.colour {
  margin-bottom: 20px;
}
