body {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px){
  .content {
    max-width: 600px;
  }
  .container {
    max-width: 600px;
  }
}

@media (min-width: 1000px){
  .content {
    max-width: 900px;
  }
  .container {
    max-width: 900px;
  }
}

@media (min-width: 768px){
  .box .container {
    max-width: 800px;
  }
}

@media (min-width: 1000px){
  .box .container {
    max-width: 1100px;
  }
}

/* top box */
.box {
  height: 600px;
  background-color: #e6f3f6;
  display: flex;
  align-items: center;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.box .container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background: blue; */
}

table {
  border-collapse: collapse;
}

td {
  padding-top: 0;
  line-height: 3vh;
  padding-right: 30px;
}

.column table h2 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 3px;
  margin-bottom: 0px;
  color: #000000;
}

table p {
  margin-top: 5px;
}

b {
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box .container .column .info {
  line-height: 30px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 25px;
}

.box .container .column img {
  width: 620px;
  /* background: red; */
}

.box .container h1 {
  font-size: 64px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.container h2 {
  color: #9DCAD8;
  font-weight: 400;
}

.container .column p {
  color: #636363;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
}

.container .container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info {
  display: inline-block;
  color: #636363;
  margin-left: 5%;
}

.container p {
  color: #636363;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
}

.table2 video {
  margin: auto;
}

.table2 .container {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.table2 .container .info_right {
  margin: auto;
  line-height: 30px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

.table2 .container .info {
  margin: auto;
  line-height: 30px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

.table2 .container .info h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.table2 .container .info p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.table2 {
  display: table;
  width: 100%;
  align-items: center;
  margin: auto;
}

.table2 .info {
  float: right;
  display: block;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.table2 img {
  margin: auto;
}

.container .create img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.block {
  background-color: #fAFAFA;
  height: 250px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.problem {
  margin-top: 80px;
}

.block .container {
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}

.text_box {
  margin-top: 80px;
}

.final img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.prototype {
  align-items: center;
  margin-right: 20px;
}

.landing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.send_out img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.takeaways {
  margin-bottom: 100px;
}
